.root {
  font-size: large;
}

.mockUp {
  background-color: aquamarine;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-image: url('../assets/demo.png');
  position: relative;
}

.pt {
  background: rgba(255,0,126,0.04);
  border: 1px solid #FF007E;
  position: absolute;
  opacity: .5;
  cursor: pointer;
}

.pt:hover {
  opacity: 1;
}
